<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace配置为数据访问层的接口的 包名.接口名称  -->
<mapper namespace="com.xm.dao.ProductMapper">

    <select id="getALLProducts" resultType="java.util.HashMap">
		SELECT p.*,pt.name AS typename
		FROM product p
		INNER JOIN producttype pt
		ON p.typeid = pt.id
	</select>
	
	<select id="getProductsByPage" resultType="java.util.HashMap">
		<bind name="offset" value="page*pagesize-pagesize"/>
		SELECT
		p.*,pt.name AS typename
		FROM product p,producttype pt
		WHERE p.typeid = pt.id
		LIMIT #{offset},#{pagesize}
	</select>

	<select id="getAllProductByPage" resultType="java.util.HashMap">
		<bind name="offset" value="page*pagesize-pagesize"/>
		SELECT p.*,pt.name AS typename
		FROM product p,producttype pt
		WHERE p.typeid = pt.id
		LIMIT #{offset},#{pagesize}
	</select>

	<select id="getRowcount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM product
	</select>

	<delete id="delProductById">
		DELETE FROM product WHERE id = #{id}
	</delete>
</mapper>