<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace配置为数据访问层的接口的 包名.接口名称  -->
<mapper namespace="com.xm.dao.ProductMapper">

    <select id="getProducts" resultType="java.util.HashMap">
		SELECT p.*,pt.name FROM product p
		INNER JOIN producttype pt
		ON p.typeid = pt.id
	</select>


</mapper>